doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Player / Eientei player
		link(rel='shortcut icon' href=`${URLs.favicon}`)

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		each eienteiMeta in [{ name: 'server', content: PLAYERS.eientei.server }, { name: 'user', content: PLAYERS.eientei.user }]
			meta(name=`_nyan:eientei:${eienteiMeta.name}` content=`${eienteiMeta.content}`)

		each URL in [PLAYERS.eientei.server, 'fonts.gstatic.com']
			link(rel='dns-prefetch' href=`//${URL}`)

		include ../inc/meta-font.pug

		each CSS in [{ file: `fork-awesome/${LIBS.css.fa.v}/css/fork-awesome.min.css`, sri: LIBS.css.fa.sri }]
			link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/${CSS.file}` integrity=`${CSS.sri}` crossorigin='anonymous')

		each CSS in ['player-eientei']
			link(rel='stylesheet' href=`${PATHS.css}/players/${CSS}.min.css?v=${VERSION}`)

	body
		video(crossorigin='anonymous' preload='none')

		div.cover
			ul.controls(data-no-playpause)
				li.state
					button(data-ctrl='changeState' data-state='play') #[i.fa]
				li.volume
					button(data-ctrl='changeMute') #[i.fa]
					input(data-ctrl='changeVolume' style='margin-left: 10px; font-size: .5em;' type='range' step='.1' min='0' max='100')
				li.fs
					button(data-ctrl='fullscreen') #[i.fa.fa-vk]

		each JS in [{ file: `ismobilejs/${LIBS.js.isMobile.v}/isMobile.min.js`, sri: LIBS.js.isMobile.sri }]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${JS.file}` integrity=`${JS.sri}` crossorigin='anonymous' defer)

		each JS in ['vendors/kamina', 'special/info-from-meta', 'players/eientei']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)
