doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Player / Mixer player
		link(rel='shortcut icon' href=`${URLs.favicon}`)

		include ../inc/meta-viewport.pug
		meta(name='robots' content='noindex, nofollow')

		each URL in ['connect.facebook.net', 'www.google-analytics.com', 'app.getsentry.com', 'web.vortex.data.microsoft.com', 'uploads.mixer.com']
			link(rel='dns-prefetch' href=`//${URL}`)

		link(rel='stylesheet' href=`${PATHS.css}/players/iframe.min.css?v=${VERSION}`)

	body
		iframe.player(src=`https://mixer.com/embed/player/${PLAYERS.mixer}` allowfullscreen)

		script(src=`${PATHS.js}/special/ifec.min.js?v=${VERSION}` defer)
