doctype html
html(lang='ru')
	head
		include inc/vars.pug
		include inc/mixins.pug

		- subPage = { title: 'О проекте', link: '/about' }

		include inc/metadata.pug

		link(rel='canonical' href=`${URLs.self}${subPage.link}`)

		each URL in ['cdn.blyat.science', 'fonts.gstatic.com']
			link(rel='preconnect' href=`//${URL}`)

		each URL in ['www.google-analytics.com', 'mc.yandex.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		each CSS in [{ file: `fork-awesome/${LIBS.css.fa.v}/css/fork-awesome.min.css`, sri: LIBS.css.fa.sri }]
			link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/${CSS.file}` integrity=`${CSS.sri}` crossorigin='anonymous')

		each CSS in ['nyan-every', 'nyan-pages']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${VERSION}`)

		//- include inc/special-script.pug

	body
		div.container.container--page(data-error='no-js' data-content)
			header.header
				ul.menu.menu--left
					include inc/parts/container--slider/slider__btn.pug

				+headerBrand

			main.page
				section#about
					h2 #[span О проекте]

					p Мы &ndash; небольшое сообщество людей, которые иногда собираются вместе и смотрят различные мультимедиа (аниме, сериалы, фильмы, игры, etc).
					p Никаких платных услуг или привилегий у нас нет и не планируется. Однако, вы можете поддерживать нашу мотивацию своими #[+externalLink(URLs.links.donate, 'добровольными пожертвованиями')] (ведь сервер и лапшу быстрого приготовления для стримеров нужно чем-то оплачивать).
					p Исходный код проекта доступен #[+externalLink('https://github.com/nyanstream', 'на GitHub')].

				section.error-box.noprint
					include inc/nojs-text.pug

				section.hidden.noprint(data-page-op='no-ru')
					p If you are not a Russian-speaking user, you can use #[+externalLink(`https://translate.google.com/translate?hl=ru&tl=en&u=${URLs.self}${subPage.link}`, 'this link')] to view this page. Sorry!

				section#contact
					h2 #[span Связь]

					p Связаться с нами можно посредством почты #[+mailto(projectEmail)] или с помощью #[+externalLink(URLs.links_soc.vk.replace('.com', '.me'), 'личных сообщений')] нашего сообщества ВК.

				section#chat-rules
					h2 #[span Правила чата]

					p Мы стараемся создать атмосферу взаимопонимания и уюта, поэтому в нашем чате действует небольшой свод правил:

					ul.list
						li администрация и модераторы не несут отвественности за контент, отправляемый участниками в чат, но оставляют за собой право в любой момент удалять контент и приостанавливать доступ участников к общению без объяснения причин
						li спам, детская порнография и шок-контент &ndash; под запретом
						li оскорбления, споры и угрозы допустимы, но в меру и только при условии, что собеседник не против
						li пожертвование не даёт участнику никаких преимуществ перед другими и также не даёт ему права кого-либо оскорблять без причины или что-либо требовать

					p Участвуя в чате, вы безоговорочно принимаете указанные здесь условия.

				section#copyright
					h2 #[span Право&shy;облада­&shy;телям]

					p Если вы обнаружили на нашем сайте материал, который нарушает ваши авторские права, или же дискредитирует вашу компанию, предоставляя неверную информацию, пожалуйста свяжитесь с нами для решения этого вопроса. Для этого необходимо отправить e-mail на нашу почту #[+mailto(projectEmail)] с вашего корпоративного почтового ящика со следующим содержанием:

					ul.list
						li контактные данные и реквизиты вашей компании
						li прямую ссылку/ссылки на материал, который вы считаете спорным
						li заверенные сканированные копии документов, подтверждающих ваше эксклюзивное право на материал
						li копии документов на посреднические услуги (в случае, если вы представляете интересы другой компании)

					p Вся информация будет проверена, и мы в кратчайшие сроки (насколько это будет возможно) свяжемся с вами для урегулирования спорного вопроса.
					p Мы не продаем материалы на нашем сайте, весь контент предоставлен для бесплатного домашнего ознакомления. Мы уважаем мнение и желания правообладателей и всегда идем к ним навстречу, готовы пойти как и на уступки, так и на сотрудничество.

					//- NOTE: Текст взят с shikimori.org и copyright.sovetromantica.com

				section.hidden.noprint(style='text-align: center' data-page-op='only-mode')
					p Обратите внимание, что часть контента данной страницы скрыта.
					p #[a(href=`${subPage.link}`) Нажмите сюда чтобы увидеть полную версию].

		include inc/parts/container--slider/slider.pug

		each JS in [{ file: `ismobilejs/${LIBS.js.isMobile.v}/isMobile.min`, sri: LIBS.js.isMobile.sri }]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${JS.file}.js` integrity=`${JS.sri}` crossorigin='anonymous' defer)

		each JS in ['vendors/kamina', 'vendors/swiped-events', 'special/ms-edge-suck', 'special/info-from-meta', 'special/clf', 'core', 'langs', 'special/client-tests', 'nyan-every', 'nyan-pages']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)
