doctype html
html(lang='ru')
	head
		include inc/vars.pug
		include inc/mixins.pug

		include inc/metadata.pug

		link(rel='canonical' href=`${URLs.self}`)

		each URL in ['nyan-api.blyat.science', 'fonts.gstatic.com']
			link(rel='preconnect' href=`//${URL}`)

		each URL in ['aw-cdn.blyat.science', 'www.google-analytics.com', 'ssl.google-analytics.com', 'mc.yandex.ru', 'counter.yadro.ru', 'images.weserv.nl', 'st1.chatovod.ru']
			link(rel='dns-prefetch' href=`//${URL}`)

		each verif in [{ type: 'google-site-verification', code: 'CZKFsMeBuqFJ1KPYIaKptrBMmgolcM3bBbu6wt1Pf_g' }, { type: 'yandex-verification', code: 'eab231fe75b6da62' }]
			meta(name=`${verif.type}` content=`${verif.code}`)

		//- { name: 'default-player', content: 'gg' } - смена загружаемого по умолчанию плеера
		//- значение из backup-player используется в parsers.js
		each nyanMeta in [{ name: 'players-path', content: `${PATHS.players}` }, { name: 'default-player', content: 'twitch' }, { name: 'backup-player', content: 'gg' }]
			meta(name=`_nyan:${nyanMeta.name}` content=`${nyanMeta.content}`)

		each CSS in [{ file: `dialog-polyfill/${LIBS.css.dialog_polyfill.v}/dialog-polyfill.min`, sri: LIBS.css.dialog_polyfill.sri }, { file: `fork-awesome/${LIBS.css.fa.v}/css/fork-awesome.min`, sri: LIBS.css.fa.sri }]
			link(rel='stylesheet' href=`https://cdnjs.cloudflare.com/ajax/libs/${CSS.file}.css` integrity=`${CSS.sri}` crossorigin='anonymous')

		each CSS in ['nyan-every', 'nyan-main']
			link(rel='stylesheet' href=`${PATHS.css}/${CSS}.min.css?v=${VERSION}`)

		style.user-styles

		//- include inc/special-script.pug

	body
		div.container.container--main(data-error='no-js' data-content)
			header.header
				ul.menu.menu--left
					include inc/parts/container--slider__btn.pug

				+headerBrand

				ul.menu.menu--right
					li
						button.menu__elem(data-lang-title='options_trigger' data-action='optionsTrigger')
							i.fa.fa-cog(aria-hidden='true')

					li
						button.menu__elem(data-lang-title='sidebar_trigger' data-action='sidebarTrigger')
							i.fa(aria-hidden='true')

			main.main
				div.player
					div.embed

					include inc/parts/main/player__noti.pug

				include inc/parts/main/container__sidebar.pug

			div.error-box
				include inc/nojs-text.pug

		div.container.container--slider
			header.header
				include inc/parts/container--slider__menu.pug

			div.slider-content
				include inc/parts/container--slider__nav.pug

				include inc/parts/container--slider__footer.pug

		include inc/parts/main/dialog__options.pug

		div.print
			p Зачем Вы хотите распечатать этот сайт?
			p Совсем японских мультиков пересмотрели?

		each JS in [{ file: `url-search-params/${LIBS.js.urlSP_polyfill.v}/url-search-params`, sri: LIBS.js.urlSP_polyfill.sri }, { file: `dialog-polyfill/${LIBS.js.dialog_polyfill.v}/dialog-polyfill.min`, sri: LIBS.js.dialog_polyfill.sri }, { file: `fetch/${LIBS.js.fetch.v}/fetch.min`, sri: LIBS.js.fetch.sri }, { file: `moment.js/${LIBS.js.moment.v.same}/moment.min`, sri: LIBS.js.moment.sri.same }, { file: `moment.js/${LIBS.js.moment.v.same}/locale/ru`, sri: LIBS.js.moment.sri.locale }, { file: `ismobilejs/${LIBS.js.isMobile.v}/isMobile.min`, sri: LIBS.js.isMobile.sri }]
			script(src=`https://cdnjs.cloudflare.com/ajax/libs/${JS.file}.js` integrity=`${JS.sri}` crossorigin='anonymous' defer)

		each JS in ['vendors/kamina', 'vendors/swiped-events', 'special/ms-edge-suck', 'special/info-from-meta', 'special/clf', 'core', 'langs', 'special/client-tests', 'nyan-every', 'parsers', 'nyan-main']
			script(src=`${PATHS.js}/${JS}.min.js?v=${VERSION}` defer)

		include inc/bbiswu.pug
