doctype html
html(lang='ru')
	head
		include ../inc/vars.pug

		meta(charset='utf-8')
		title #{title} / Ошибка
		include ../inc/meta-viewport.pug

		link(rel='shortcut icon' href=`${URLs.favicon}`)
		link(rel='manifest' href=`${URLs.manifest}`)
		link(rel='sitemap' href=`${URLs.sitemap}`)

		include ../inc/meta-font.pug

		link(rel='stylesheet' href=`${PATHS.css}/apps/error-page.min.css?v=${VERSION}`)
	body
		main(data-error='403')
			h1 Ошибка 403 #[small ヽ( `д´*)ノ]
			h2 Доступ к запрашиваемому объекту запрещён.
			h3 Возможно, стоит пройти #[a(href='/?from=error-403') на главную страницу]?
		main(data-error='404')
			h1 Ошибка 404 #[small (╬ Ò﹏Ó)]
			h2 Запрашиваемый объект не обнаружен.
			h3 Возможно, стоит пройти #[a(href='/?from=error-404') на главную страницу]?
		main(data-error='undefined')
			h1 Ого! #[small (⊙_⊙)]
			h2 Возникла неизвестная ошибка.
			h3 Возможно, стоит перезагрузить страницу?

		script(src=`${PATHS.js}/apps/error-page.min.js?v=${VERSION}` async)
