div.container.container--slider
	div.header
		ul.menu
			li
				a.menu__elem(href=`${URLs.links_soc.vk}` target='_blank' rel='nofollow noopener' data-lang-title='com_vk')
					i.fa.fa-vk(aria-hidden='true')

			li
				a.menu__elem(href=`${URLs.links_soc.tg}` target='_blank' rel='nofollow noopener' data-lang-title='com_tg')
					i.fa.fa-telegram(aria-hidden='true')

			li
				a.menu__elem(href=`${URLs.links_soc.discord}` target='_blank' rel='nofollow noopener' data-lang-title='com_discord')
					i.fa.fa-discord-alt(aria-hidden='true')

	div.slider-content
		nav.nav
			ul
				if (!isIndexPage())
					li
						a.nav__elem(href='/' rel='home' data-lang='go_main_page')

				li(class=`${!isIndexPage() ? 'li--offset' : ''}`)
					+externalLink(URLs.links.donate).nav__elem(data-lang='donate')
				li
					+externalLink(URLs.links.donate_report).nav__elem(data-lang='donate_report')

				li.li--offset
					+externalLink(URLs.links.request).nav__elem(data-lang='request')
				li
					+externalLink(URLs.links.request_view).nav__elem(data-lang='requests_view')

				li.li--offset
					+externalLink(URLs.links_stat.shiki).nav__elem(data-lang='link_shiki')
				li
					+externalLink(URLs.links_stat.trakt).nav__elem(data-lang='link_trakt')
				li
					+externalLink(URLs.links_stat.ag).nav__elem(data-lang='link_agru')

		footer.copy
			div
				p #[a(href='/' rel='home' data-style='no-border no-default-hover') #{title.toUpperCase()}] &copy; #{new Date().getFullYear()}

				p #[span(data-lang='made_with') сделано с] #[span.copy__heart &#9829;]

				p(style='margin-top: 5px') #[a(href='/about' style='text-transform: lowercase' data-style='no-border no-default-hover' data-lang='about_project')]

				p(style='margin-top: 15px') #[a(href='https://donate.fbk.info/?utm_source=nyan.stream' style='text-transform: uppercase' data-style='no-border no-default-hover' target="_blank" rel="nofollow noopener") Я/МЫ субтитры]
