script(src=`https://www.googletagmanager.com/gtag/js?id=${BBISWU.google}` async)

script(src=`${PATHS.js}/bbiswu.min.js?v=${VERSION}` data-bbiswu-google=`${BBISWU.google}` data-bbiswu-yandex=`${BBISWU.yandex}` async)

noscript
	img(src=`https://mc.yandex.ru/watch/${BBISWU.yandex}` style='position:absolute; left:-9999px' alt='')
