- const description = 'Небольшое сообщество людей, которые иногда собираются вместе и смотрят различные мультимедиа.'

- const projectEmail = 'nyan@cojam.ru'

- URLs = Object.assign({ self: `https://${domain}`, favicon: `${PATHS.img}/favicon.png?v=${VERSION}`, logo: `${PATHS.img}/logo/logo.svg?v=${VERSION}`, manifest: `/nyan.webmanifest?v=${VERSION}`, sitemap: '/sitemap.xml' }, URLs)
